@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-image: url(./space.png);
    font-family: 'Press Start 2P', cursive;
}

#myCanvas {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    
}
